<!-- templates/comment_detail.html -->
{% extends 'base.html' %}

{% block content %}
  <h1>{{ comment.title }}</h1>
  <p>{{ comment.content }}</p>
  <p><strong>Author:</strong> {{ comment.owner }}</p>
  <p><strong>Posted on:</strong> {{ comment.created_at }}</p>

  {% if comment.owner == user %}
    <a href="{% url 'comment_update' comment.pk %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'comment_delete' comment.pk %}" class="btn btn-danger">Delete</a>
  {% endif %}
  
  <a href="{% url 'comment_list' %}" class="btn btn-secondary">Back to All Comments</a>
{% endblock %}
